html, body {
    padding: 0;
    margin: 0;
    background-color: #97A7B7;
}
header {
    background-color: #0D3257;
    color: white;
    height: 100px;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid 1px white;
    padding-left: 5px;

}
.shelf {
    background-color: #80461B;
    height: 30%;
}
dialog {
    width: 300px;
    height: 300px;
}
#newBtn {
    background-color: lightskyblue;
    padding: 0;
    border: none;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
}
::backdrop {
    background-color: black;
    opacity: .3;
}
dialog > * {
    padding-left: 20px;    
}
.dialog-buttons > button {
    background-color: lightskyblue;
    padding: 0;
    border: none;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
}
.form-input {
    margin-top: 20px;
}